<p id="notice"><%= notice %></p>
<%= @room.title %>
<%= attachment_image_tag @room, :image,　fallback: "no-image.png", style: "height: 250px; width:300px;" %>
<%= @room.body %>
<%= @room.user.name %>

いいね件数: <%= @room.likes.count %>
<%= render 'likes/like', room:@room %>

<% if @room.user == current_user %>
<%= link_to 'Edit', edit_room_path(@room), class: 'btn btn-sm btn-success' %> |
<% end %>

<% if @room.user == current_user %>
<%= link_to "Destroy", room_path(@room), class: 'btn btn-sm btn-danger', method: :delete, "data-confirm" => "Are you sure?" %>
<% end %>

